#page
  .main-box
    .content
      %span#start-image{"data-picture" => "", "data-alt" => "the Money Advice Serivce" }
        %span{"data-src" => "/assets/startImage.png"}
          %span{"data-src" => "/assets/startImage.retina.png", "data-media" => "(min-device-pixel-ratio: 1.5)"}
            %noscript
              =image_tag "startImage.png", alt: "the Money Advice Service", retina: true
      %span.images{"data-picture" => ""}
      %span.mobile-logo
        = image_tag("MAS_logo_lg.png", retina: true)
      %h1.title Are money worries affecting your health?
      %p.text
        If you have financial worries it can really start to impact on the way you feel. Answer these few simple questions and get some tips to help you feel better and more in control.
      = link_to 'Start', preview_questionnaires_path, method: :post, class: 'start-button'
