<!doctype html>
<!--[if IE 8]>    <html lang="en" class="ie ie8 lte9 lte8">      <![endif]-->
<!--[if IE 9]>    <html lang="en" class="ie ie9 lte9">           <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en">	             <!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
  <title>The Money Advice Service</title>
  <%= stylesheet_link_tag    "mobile/ezmark" %>
  <%= stylesheet_link_tag    "mobile/style" %>

  <%= javascript_include_tag "mobile/mobile" %>
  </head>
<body>
  <%= yield %>
</body>
</html>
